process {
  withName: fastqc_after_clipping {
    cpus = 8
  }
  withName: makeBWAIndex {
    cpus = 4
  }
  withName: adapter_removal {
    cpus = 8
    memory = 10.GB
  }
  withName: bwa {
    time = 60.h
    cpus = 8
    memory = 16.GB
  }
  withName: sexdeterrmine {
    time = 12.h
    cpus = 8
  }
}

